@page "/cart"

@using Microsoft.AspNetCore.Authorization
@using System.Globalization
@using AvinaShop.Data
@using AvinaShop.Services
@using AvinaShop.Utility
@using AvinaShop.Helpers
@using AvinaShop.Services.OrderServices
@using AvinaShop.Services.ShoppingCartServices
@using AvinaShop.Utility.Enums
<!-- Authentication Services -->
@inject AuthenticationStateProvider _authenticationStateProvider

<!-- Cart, Order and Payment Services -->
@inject IShoppingCartService _shoppingCartService
@inject IOrderService _orderService
@inject PaymentService _paymentService

<!-- UI Services -->
@inject NavigationManager _navigationManager
@inject SharedStateService _sharedStateService
@inject LoadingService _loadingService

<!-- Apply the Authorize attribute to enforce user authentication -->
@attribute [Authorize]

@if (ShoppingCarts.Any())
{
    <div class="row w-100">
        <div class="col-lg-6 col-12">
            <div class="container p-4 m-2">
                <h4 class="text-center text-success display-6">
                    Cart Summary
                </h4>
                <CartSummary Items="ShoppingCarts" OnItemUpdated="UpdateCartItem" />
            </div>
        </div>
        <div class="col-lg-6 col-12 p-4">
            <div class="card">
                <div class="card-header text-success text-center display-6">
                    Pickup Details
                </div>
                <PickupForm OrderHeader="OrderHeader" TotalItems="TotalItems" OnSubmit="ProcessOrderCreation" />
            </div>
        </div>
    </div>
}
else
{
    <div class="p-4">
        <div class="alert alert-warning">
            Your cart is empty! Please add items to cart.
        </div>
    </div>
}

@code {
    private const int RemoveItemCode = -10000; // Special code for removing item from the cart
    private readonly CultureInfo _usCulture = CultureInfo.GetCultureInfo("en-us"); // US culture for currency formatting
    private IEnumerable<ShoppingCart> ShoppingCarts = new List<ShoppingCart>(); // Cart items

    [SupplyParameterFromForm]
    public OrderHeader OrderHeader { get; set; } = new OrderHeader(); // Order details
    private int TotalItems { get; set; } = 0; // Total number of items in cart

    // Initialize order header with authenticated user's information
    protected override async Task OnInitializedAsync()
    {
        var authState = await _authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        OrderHeader.Email = user.FindFirst(u => u.Type.Contains("email"))?.Value;
        OrderHeader.UserId = user.FindFirst(u => u.Type.Contains("nameidentifier"))?.Value;
        OrderHeader.Status = AppConstants.StatusPending;
    }

    // After the component has rendered, load the cart items
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _loadingService.Show();
            await LoadCartAsync();
            _loadingService.Hide();
            StateHasChanged();
        }
    }

    // Load cart items from the service using the helper
    private async Task LoadCartAsync()
    {
        ShoppingCarts = await _shoppingCartService.GetUserCartAsync(OrderHeader.UserId); // Use service to load cart
        OrderHeader.OrderTotal = CartHelper.CalculateTotalAmount(ShoppingCarts); // Calculate total amount
        TotalItems = CartHelper.CalculateTotalItems(ShoppingCarts); // Calculate total items
    }

    // Update cart item count (add/remove item)
    private async Task UpdateCartItem(Tuple<int, int> itemUpdate)
    {
        var productId = itemUpdate.Item1;
        //var updateBy = itemUpdate.Item2;
        var action = (CartActionType)itemUpdate.Item2;
        if (action == CartActionType.Remove)
        {
            await _shoppingCartService.RemoveItemFromCartAsync(OrderHeader.UserId, productId);
        }
        else
        {
            await _shoppingCartService.UpdateItemQuantityAsync(OrderHeader.UserId, productId, (int)action);
        }

        // Update global cart count
        _sharedStateService.TotalCartCount = await _shoppingCartService.GetCartItemCountAsync(OrderHeader.UserId);

        // Reload cart items and totals
        await LoadCartAsync();
    }


    // Process the order and create a Stripe checkout session
    private async Task ProcessOrderCreation()
    {
        _loadingService.Show();
        await Task.Yield(); // keeping UI Responsive

        OrderHeader.OrderDetails = AppConstants.ConvertShoppingCartListToOrderDetail(ShoppingCarts.ToList());
        var session = _paymentService.CreateStripeCheckoutSession(OrderHeader);
        OrderHeader.SessionId = session.Id;

        await _orderService.CreateOrderAsync(OrderHeader);
        _loadingService.Hide();

        _navigationManager.NavigateTo(session.Url);
    }
}
